.btn {
  display: inline-block;
  padding: 0 20px;
  font-size: 15px;
  text-decoration: none;
  .btn-primary { border: 0px; }
  .btn-danger { border: 0px; }
  .btn-info { border: 0px; }
  .btn-success { border: 0px; }
  .btn-warning { border: 0px; }
  .btn-inverse { border: 0px; }
  .btn-link { border: 0px; }
}

.btn-bar {
  display: block;
  width: 22px;
  height: 2px;
  background: $text-color;
  border-radius: 1px;

  &+.btn-bar { margin-top: 4px; }
}
