.page-home, .page-post-detail {
  .post-type-quote {
    .post-header,
    .post-tags {
      display: none;
    }

    blockquote {
      @extend .blockquote-center
    }

  }
  p.verse {
    padding: 0 15px;
    color: $grey-dim;
    border-left: 4px solid $gray-lighter;

    cite::before {
      content: "-";
      padding: 0 5px;
    }
  }
  .bs-callout {
    padding: 20px;
    margin: 20px 0;
    border: 1px solid #eee;
    border-left-width: 5px;
    border-radius: 3px;
  }
  .bs-callout h4 {
      margin-top: 0;
      margin-bottom: 5px;
  }
  .bs-callout p:last-child {
      margin-bottom: 0;
  }
  .bs-callout code {
      border-radius: 3px;
  }
  .bs-callout+.bs-callout {
      margin-top: -5px;
  }
  .bs-callout-default {
      border-left-color: #777;
  }
  .bs-callout-default b, strong {
      color: #777;
  }
  .bs-callout-primary {
      border-left-color: #428bca;
  }
  .bs-callout-primary b, strong {
      color: #428bca;
  }
  .bs-callout-success {
      border-left-color: #5cb85c;
  }
  .bs-callout-success b, strong {
      color: #5cb85c;
  }
  .bs-callout-danger {
      border-left-color: #d9534f;
  }
  .bs-callout-danger b, strong {
      color: #d9534f;
  }
  .bs-callout-warning {
      border-left-color: #f0ad4e;
  }
  .bs-callout-warning b, strong {
      color: #f0ad4e;
  }
  .bs-callout-info {
      border-left-color: #5bc0de;
  }
  .bs-callout-info b, strong {
      color: #5bc0de;
  }
}
