.page-home, .page-post-detail {
  .post-type-quote {
    .post-header,
    .post-tags {
      display: none;
    }

    blockquote {
      @extend .blockquote-center
    }

  }
  p.verse {
    padding: 0 15px;
    color: $grey-dim;
    border-left: 4px solid $gray-lighter;

    cite::before {
      content: "-";
      padding: 0 5px;
    }
  }
}
